html {
    height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	margin-top: 0px;
}

.main {
	margin-top: 30px;
	font-weight: bold;
	border-left: 3px solid #ddbe91;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
	border-right: 3px solid #ddbe91;
	background: #e9d9c1;
	margin-bottom: 30px;
}

form {
	background: #e9d9c1;
	width: 300px;
	margin: auto;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 0px 14px 6px rgba(34, 60, 80, 0.2);
	border-radius: 15px;
	border: 2px solid #ddbe91;
	margin-top: 30px;
}

form h3 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 20px;
}

input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	border: none;
	text-indent: 10px;
	padding: 9px 0px;
	border-bottom: 2px solid #e9d9c1;
}

input:hover,
input:focus {
	border-bottom: 2px solid black;
}

input:focus {
	outline: none;
}

textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 80px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #e9d9c1;
}

textarea:hover,
textarea:focus {
	border-bottom: 2px solid black;
}

button {
	display: block;
	width: 160px;
	margin: auto;
	outline: none;
	background: white;
	color: black;
	padding: 5px;
	cursor: pointer;
	border: 2px solid #ddbe91;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.2s;
	border-radius: 15px;
	margin-bottom: 10px;
}

button:hover {
	background: #ddbe91;
}

footer{
	margin-top: auto;
}
